# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
absl-py=0.11.0=pypi_0
astor=0.8.1=pypi_0
attrs=20.3.0=pyhd3eb1b0_0
backports=1.0=pyhd3eb1b0_2
backports-functools-lru-cache=1.6.1=pypi_0
backports-weakref=1.0.post1=pypi_0
backports.shutil_get_terminal_size=1.0.0=pyhd3eb1b0_3
backports_abc=0.5=py_1
bleach=1.5.0=pypi_0
ca-certificates=2021.1.19=h06a4308_1
catkin-pkg=0.4.23=pypi_0
catkin-tools=0.6.1=pypi_0
certifi=2020.6.20=pyhd3eb1b0_3
chardet=4.0.0=pypi_0
cloudpickle=1.3.0=pypi_0
configparser=4.0.2=py27_0
contextlib2=0.6.0.post1=pypi_0
cudatoolkit=10.0.130=0
cudnn=7.6.5=cuda10.0_0
cycler=0.10.0=pypi_0
cython=0.29.21=pypi_0
dbus=1.13.18=hb2f20db_0
decorator=4.4.2=pyhd3eb1b0_0
defusedxml=0.6.0=pypi_0
distro=1.5.0=pypi_0
docutils=0.16=pypi_0
easydict=1.9=pypi_0
empy=3.3.4=pypi_0
entrypoints=0.3=pypi_0
enum34=1.1.10=pypi_0
expat=2.2.10=he6710b0_2
fontconfig=2.13.1=h6c09931_0
freetype=2.10.4=h5ab3b9f_0
funcsigs=1.0.2=pypi_0
functools32=3.2.3.post2=pypi_0
future=0.18.2=pypi_0
futures=3.3.0=py27_0
gast=0.4.0=pypi_0
glib=2.68.0=h36276a3_0
google-pasta=0.2.0=pypi_0
grpcio=1.34.0=pypi_0
gst-plugins-base=1.14.0=h8213a91_2
gstreamer=1.14.0=h28cd5cc_2
h5py=2.9.0=pypi_0
html5lib=0.9999999=pypi_0
icu=58.2=he6710b0_3
idna=2.10=pypi_0
importlib-metadata=2.1.1=pypi_0
ipaddress=1.0.23=py_0
ipykernel=4.10.1=pypi_0
ipython=5.10.0=pypi_0
ipython_genutils=0.2.0=pyhd3eb1b0_1
ipywidgets=7.6.3=pypi_0
jinja2=2.11.2=pypi_0
jpeg=9b=h024ee3a_2
jsonschema=3.2.0=pypi_0
jupyter=1.0.0=py27_7
jupyter-client=5.3.5=pypi_0
jupyter-core=4.6.3=pypi_0
jupyter_client=5.3.4=py27_0
jupyter_console=5.2.0=py27_1
jupyter_core=4.6.1=py27_0
jupyterlab=0.33.12=pypi_0
jupyterlab-launcher=0.11.2=pypi_0
keras-applications=1.0.8=pypi_0
keras-preprocessing=1.1.2=pypi_0
kiwisolver=1.1.0=pypi_0
libedit=3.1.20191231=h14c3975_1
libffi=3.3=he6710b0_2
libgcc-ng=9.1.0=hdf63c60_0
libpng=1.6.37=hbc83047_0
libsodium=1.0.18=h7b6447c_0
libstdcxx-ng=9.1.0=hdf63c60_0
libuuid=1.0.3=h1bed415_2
libxcb=1.14=h7b6447c_0
libxml2=2.9.10=hb55368b_3
markdown=3.1.1=pypi_0
markupsafe=1.1.1=py27h7b6447c_0
matplotlib=2.2.5=pypi_0
mistune=0.8.4=py27h7b6447c_0
mock=3.0.5=pypi_0
mpi4py=3.0.3=pypi_0
nbconvert=5.6.1=py27_0
nbformat=4.4.0=py27_0
ncurses=6.2=he6710b0_1
networkx=2.2=pypi_0
notebook=5.7.10=py27_0
numpy=1.16.6=pypi_0
open3d=0.8.0.0=pypi_0
opencv-python=4.0.0.21=pypi_0
openssl=1.1.1k=h27cfd23_0
osrf-pycommon=0.1.9=pypi_0
packaging=20.8=pypi_0
pandas=0.24.2=pypi_0
pandoc=2.12=h06a4308_0
pandocfilters=1.4.3=pypi_0
pathlib=1.0.1=pypi_0
pathlib2=2.3.5=py27_0
pcre=8.44=he6710b0_0
pexpect=4.8.0=pyhd3eb1b0_3
pickleshare=0.7.5=pypi_0
pillow=6.2.2=pypi_0
pip=19.3.1=py27_0
prometheus_client=0.9.0=pyhd3eb1b0_0
prompt-toolkit=1.0.18=pypi_0
prompt_toolkit=1.0.15=py27_0
protobuf=3.14.0=pypi_0
psutil=5.8.0=pypi_0
ptyprocess=0.7.0=pyhd3eb1b0_2
pybullet=2.7.9=pypi_0
pydot=1.4.2=pypi_0
pygments=2.5.2=py_0
pyparsing=2.4.7=pyhd3eb1b0_0
pyqt=5.9.2=py27h05f1152_2
pyrsistent=0.16.1=pypi_0
python=2.7.18=h15b4118_1
python-dateutil=2.8.1=pyhd3eb1b0_0
pytorch-ignite=0.2.1=pypi_0
pytz=2020.5=pypi_0
pywavelets=1.0.3=pypi_0
pyyaml=5.3.1=pypi_0
pyzmq=19.0.2=pypi_0
qt=5.9.7=h5867ecd_1
qtconsole=4.7.7=py_0
qtpy=1.9.0=py_0
readline=8.0=h7b6447c_0
requests=2.25.1=pypi_0
rospkg=1.2.9=pypi_0
scandir=1.10.0=py27h7b6447c_0
scikit-image=0.14.5=pypi_0
scipy=1.2.3=pypi_0
send2trash=1.5.0=pyhd3eb1b0_1
setuptools=44.0.0=py27_0
shapely=1.7.1=pypi_0
simplegeneric=0.8.1=pypi_0
singledispatch=3.4.0.3=pypi_0
sip=4.19.8=py27hf484d3e_0
six=1.15.0=pyhd3eb1b0_0
sqlite=3.33.0=h62c20be_0
subprocess32=3.5.4=pypi_0
tensorboard=1.14.0=pypi_0
tensorboardx=2.2=pypi_0
tensorflow-estimator=1.14.0=pypi_0
tensorflow-gpu=1.14.0=pypi_0
tensorflow-tensorboard=1.5.1=pypi_0
termcolor=1.1.0=pypi_0
terminado=0.8.3=pypi_0
testpath=0.4.4=pyhd3eb1b0_0
tk=8.6.10=hbc83047_0
torch=1.4.0=pypi_0
tornado=5.1.1=pypi_0
tqdm=4.56.0=pypi_0
traitlets=4.3.3=py27_0
trollius=2.2.post1=pypi_0
urllib3=1.26.4=pypi_0
wcwidth=0.2.5=py_0
webencodings=0.5.1=pypi_0
werkzeug=1.0.1=pypi_0
wheel=0.36.2=pyhd3eb1b0_0
widgetsnbextension=3.5.1=py27_0
wrapt=1.12.1=pypi_0
xz=5.2.5=h7b6447c_0
zeromq=4.3.4=h2531618_0
zipp=1.2.0=pypi_0
zlib=1.2.11=h7b6447c_3
